/* NAVBAR-HEADER */
*{
  font-family: Graphik,sans-serif;
  color: #333;
}

.border-js-center{
  border-bottom: 1px solid #0097a9;
  width: 200px;
  margin: auto;
}

.border-js-right{
  border-bottom: 1px solid #0097a9;
  width: 250px;
}
.header-navbar {
  display: flex;
  justify-content: space-around;
  background: white;
  width: 100%;
  height: 80px;
  position: fixed;
  top:0;
  z-index: 2;
  margin: auto;
}

.header-navbar .logo-container {
  width: 10%;
  height: 80px;
  float: left;
}

.nav-item-container {
  display: inline-block;
  padding: 25px;
  /* margin-left: 10%; */
  font-family: Graphik,sans-serif;
  font-size: 22px;
  color:  #4d4d4d;
}

.nav-item {
  margin-left: 25px;
}

.nav-item:hover {
  color:#0097a9;
}

.fas.fa-angle-down {
  font-size: 16px;
}

.menu-bars {
  float: right;
  padding: 15px;
  font-size: 2em;
  color: #4d4d4d;
  display: none;
}

/*HEADER BLOCK PRESENTATION */
.header-block {
  height: 100px;
}

.header-container-block img {
  display: block;
  margin: auto;
  border-right: 70px solid #f6f4f5;
  border-left: 70px solid #f6f4f5;
}

.text-bg-img {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  line-height: 1.25;
  color: #333;
}

.header-responsive {
  font-size: 1.3em;
  color: #333;
  display: none;
  width: 100%;
  height: 10%;
  margin-top: 20%;
}

/* SECOND BLOCK */
.text-cnt {
  padding-top: 5%;
}

 a {
  color:#0097a9;
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: #0097a9;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4d4d;
}

.container-fluid[background = "lightgrey"] .container .txt-cnt {
  padding: 70px;
}

[background = "lightgrey"]{
  background: #faf9f8;
}

/* FOURTH BLOCK */
.fourth-block .txt-cnt h1 {
  font-size: 3em;
  line-height: 1.3;
  color:#ffc72c;
}

.fourth-block .txt-cnt {
  margin-top: 5%;
}

cite {
  font-family: Graphik,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #666;
}

.card_cnt {
  border-right: 1px solid lightgray;
  height: 320px;
  position: relative;
}

.header-card {
  display: flex;
  height: 70px;
  align-items: center;
}

.header-card #blog, .header-card #press, .header-card #whitepaper {
  height: 50px;
}

.header-card .title {
  font-size: 18px;
  color: #333;
}

.link-card {
  position: absolute;
  bottom: 0;
}

.row-card {
  padding: 80px;
}

/* FIFTH BLOCK */
[background = "faded-yellow"] {
  background: #fff7df;
}

.txt-form, .form-cnt {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
}

.form-cnt input {
  background: #fff7df;
  width: 225px;
  padding: 10px;
  font-size: 20px;
  border-style: hidden;
  border-bottom: 1px solid #666;
}

#email-input {
  position: absolute;
  right: 0;
}


#btn-form {
 margin-top: 5%;
}

 button {
  border: hidden;
  background: #ffc72c;
  border-radius: 5px;
  padding: 15px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
/* SIXTH BLOCK */
footer a {
  text-decoration: none;
  color: #999;
  display: block;
  margin-top: 10px;
}

footer a:hover {
  color: #0097a9;
  text-decoration: none;
}

#footer-input {
  width: 80%;
  font-size: 20px;
  border-style: hidden;
  border-bottom: 1px solid #666;
}

.btn-footer-cnt {
  float: right;
  padding: 15px;
}

#btn-footer{
  padding-top: -30px;
}
.icon_cnt .fab {
  font-size: 28px;
  font-weight: bold;
  color: #b3b3b3;
}

.icon_cnt .fab:hover {
  color: #0097a9;
  cursor: pointer;
}

::selection {
  background-color: rgba(255,199,44,.6);
}

/* CSS MEDIA QUERY */

/* HEADER NAV-BAR QUERY*/
@media only screen and (max-width: 1270px) {
  .nav-item-container {
    font-size: 20px;
  }

  .text-bg-img {
    font-size: 2.8em;
    position: absolute;
    top: 45%;
  }

  h3 {
    font-size: 18px;
  }

  #email-input {
    position: static;
  }
}


@media only screen and (max-width: 1000px) {
  .nav-item-container {
    display: none;
  }

  .menu-bars {
    display: block;
  }

  .header-responsive {
    font-size: 2.4em;
    color: #333;
    display: block;
  }

  .text-bg-img {
    display: none;
  }
  #footer-input {
    width: 170px;
  }
}

@media only screen and (max-width: 780px) {
  .header-responsive {
    padding-top: 22%;
  }
  .header-responsive, h1 {
    font-size: 1.8em;
  }
  .container-fluid[background = "lightgrey"] .container .txt-cnt {
    padding: 0;
  }

  .txt-cnt h1{
    padding-top: 10%;
  }

  .subtitle {
    font-size: 18px;
  }

  a {
   font-size: 14px;

 }
 .header-navbar .logo-container {
   width: 35%;
 }

 .fourth-block .txt-cnt h1 {
   font-size: 1.4em;
   margin: 0;
   padding: 0;
 }

 cite {
   font-size: 18px;
 }

 .row-card {
   padding: 0;
 }

 .link-card {
   position: static;
 }

 .header-card {
   width: 110px;
   height: 70px;
 }

 .card_cnt {
   border-right: hidden;
   height: 220px;
   position: relative;
 }

 .txt-form, .form-cnt {
   padding-bottom: 0%;
 }

 #btn-form {
   padding: 10px;
   margin-bottom: 5%;
}

.item-footer,.btn-footer {
  text-align: center;
}

.btn-footer-cnt {
  padding-top: 5%;
}

.icon_cnt{
  text-align: center;
}

#footer-input {
  width: 100%;
}
.btn-footer-cnt {
  float: none;
  text-align: center;
}

}
